
:root {
  --blue: rgb(28, 44, 91);
  --green: rgb(32, 100, 60);
  --bkgrey: #555;
  --gtable: rgba(50, 153, 91, .3);
  --gold: #ccaa39;
  --silver: #B0B8C0;
  --bronze: #8C5A2C;
  --tpblue: rgb(28, 44, 91, 0.9);
}

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

/* html, body {
  width: 100%;
} */

#appContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-height: 100vh;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  align-items: center;
}

#contentContainer {
  flex: 1;
  width: 100%;
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4.3rem .5rem;
  overflow-y: auto;
  margin: 0 auto;
  border: 1px solid white;
  gap: 0.5em;
}

#titleContainer {
  display: flex;
  justify-content: space-between;
  gap: 0.5em;
  width: 100%;
}

#viewTitle {
  flex: 1;
  border: 3px solid white;
  border-radius: 4px;
  text-align: center;
  /* margin: 0 auto; */
  width: fit-content;
  padding: 0.1em 1em;
  font-size: 1.1rem;
  background-color: var(--tpblue);
  color: white;
}

#viewTitleBoards {
  display: flex;
  flex: 1;
  justify-content: space-around;
  border: 3px solid white;
  border-radius: 4px;
  width: fit-content;
  color: white;
  background-color: var(--tpblue);
  gap: 0.5em;
  padding: 0.1em 0.5em;
  font-size: 1.1em;
}

/* WeekNav */

#weekNav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .25em;
  margin-bottom: 0.25em;
  width: 98%;
  max-height: 3vh;
  color: white;    
}

#weekNavBoard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: .25em;
  margin-bottom: 0.25em;
  width: 98%;
  max-height: 3vh;
  color: white;    
}

.nav-arrow {
  width: 19%;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: inherit;  
}

#gwDisplay {
  width: 60%;   
  text-align: center;  
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;  
}

#gwDisplayBoards {
  width: 60%;   
  text-align: center;  
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;  
}

#gwDisplay, #gwDisplayBoards, .nav-arrow{
  height: 1.75em;
  padding: 0.25em;
  line-height: 1.2em;
  font-size: 1em;
  background-color: #1c2c5b;
}

.arrow-icon {
  width: 100%;
  height: 100%;
}

#prevWeek {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 0;
}

#nextWeek {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 0;
}

#lensSelect {
  background-color: var(--blue);
  border: none;
  color: white;
  text-align: center;
  font-size: 0.9em;
}

#subjectSelectSVG {
  background-color: white;
  color: var(--blue);
  padding: 0;
  margin: 0;
}

.selectSVG {
  display: block;
  height: 2em;
  width: 2em;
  color: black;
}



/* FixtureFieldset */
#fixtures {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow-y: scroll;
  gap: 0.3em;
  width: 100%;
  margin: 0 0.5em;
  /* outline: 1px solid white; */
  /* padding: 0.5em 0.25em;  */
}

/* .match {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr .3fr 1fr 2fr;
  grid-template-rows: 1fr 1fr;
  border: none; 
  padding: 0;   
} */

.match {
  border: 2px solid white;
  border-radius: 5px;
  padding: 0;
}

.matchHeader {
  display: flex;
  justify-content: center;
  gap: 0.5em;
  padding: 0 1em;
  background-color: white;
}

.matchBody {
  display: grid;
  grid-template-columns: 2fr 1fr .3fr 1fr 2fr;
  padding: 0.25em;
  background-image: linear-gradient(to top, #1c2c5b, #203c6a, #264c78, #2f5d86, #3a6e93, #3a6e93, #3a6e93, #3a6e93, #2f5d86, #264c78, #203c6a, #1c2c5b);
}

.matchBody div {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid white; */
}

.match div input {
  height: 90%; 
  width: 90%;   
}

.homeScore, .awayScore {
  background: white;
  height: 90%;
  width: 70%;
  margin: auto auto;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: bold;
}

/* Chrome, Safari, Edge, Opera- no spinner*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox - no spinner*/ 
input[type=number] {
  -moz-appearance: textfield;
}

/* .day {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
}

.ko {
  grid-column: 1 / 1;
  grid-row: 2 / 3;
} */

.day, .ko {
  color: var(--blue);
  font-size: 0.8rem;
  font-weight: bold;
  background-color: white;
  line-height: 0.8rem;
  padding-bottom: 0.15em;

}


.home {
  grid-column: 1 / 2;
}

.homePred, .homeScore {
  grid-column: 2 / 3;
  margin-left: 0.5em;
}

.v {
  grid-column: 3 / 4;
  font-weight: bold;
  color: white;
    
}

.awayPred, .awayScore {
  grid-column: 4 / 5;
  margin-right: 0.5em;
}

.away {
  grid-column: 5 / 6;
}

.team {
  padding: 4px;
  text-align: center;
  border-radius: 5px;
  font-weight: bold;
}

.pred {
  border-radius: 5px;
  font-size: 1.2rem;
  text-align: center;
  font-weight: bold;
}

/* LeaderBoards */

#boardContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  overflow-y: hidden;
  /* padding: 0.5em 0; */
}

.boardAlign {
  display: grid;
  grid-template-columns: 0.8fr 26% 1fr repeat(5, 0.9fr) 1fr;
  padding: 0;
  margin: 0;
  gap: 0.25em;
  width: 100%;
}

.boardHead {    
  line-height: 1.8;
  font-size: .9rem;
  margin-bottom: 0.5em;
  font-weight: bold;
}

.boardHead div {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.911);
  padding: 0 0.125em;
  color: var(--blue);
  border-radius: 3px;  
  border: 1px solid white;
  box-shadow: 0 1px 1px var(--bkgrey);
}

#boardData {
  overflow-y: auto;
}

.boardRow {
  line-height: 1.6;
  font-size: 0.9rem;
  text-align: center;
  border: none;
  color: white;
  border-radius: 3px;
  margin-bottom: 0.3em;

}

.boardRow div {
  border-radius: 3px;
  padding: 0 0.125em;
  border: 1px solid white;
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
}

.hasP10s, .points {
  background-color: var(--gold) !important;
  color: var(--blue);
  font-weight: bold;
}

#boardData fieldset:nth-child(odd) div {
  background-color: rgba(28, 44, 91, 0.6);
}

#boardData fieldset:nth-child(even) div {
  background-color: var(--green);

}

.first {
  line-height: 2 !important;
  font-size: 1rem !important;
  font-weight: bold;    
}

.first div {
  background-color: var(--gold) !important;
  color: var(--blue) !important;
}

.second {
  line-height: 1.8 !important;
  font-weight: bold;
}

.second .pos {
  background-color: var(--silver) !important;
  color: var(--blue);
}

.third {
  line-height: 1.7 !important;
  font-weight: bold;
}

.third .pos {
  background-color: var(--bronze) !important;
  color: var(--blue);
}

/* Colours */


/* Team Colours */

.liverpool {
  background-color: #dd0000;
  color: #fff;
}

.bournemouth {
  background-color: #ed1c24;
  color: black;
  font-size: 0.8rem;
    
}

.astonvilla {
  background-color: #95bfe5;
  color: #670e36;
}

.arsenal {
  background-color: #ef0107;
  color: #fff;
}

.brighton {
  background-color: #005daa;
  color: #fff;
}

.burnley {
background-color: #800000;
color: #80bfff;
}

.chelsea {
  background-color: #034694;
  color: #d1d3d4;
}

.crystalp {
  background-color: #1b458f;
  color: #c4122e;
  text-shadow: 
    -.5px -.5px 0 #fff,
    .5px -.5px 0 #fff,
    -.5px .5px 0 #fff,
    .5px .5px 0 #fff;
}

.everton {
  background-color: #274488;
  color: #fff;
}

.mancity {
  background-color: #6cabdd;
  color: #1c2c5b;
}

.manutd {
  background-color: #da291c;
  color: #fbe122;
}

.newcastle {
  background-color: #241f20;
  color: #fff;
}

.leeds {
  background-color: #ffcd00;
  color: #1d428a;
}

.fulham {
  background-color: #000;
  color: #cc0000;
}

.tottenham {
  background-color: #fff;
  color: #132257;
}

.westham {
  background-color: #7c2c3b;
  color: #7bcce6;
}

.sunderland {
  background-color: #eb1726;
  color: #211e1e;
}

.wolves {
  background-color: #fdb913;
  color: #231f20;
}

.brentford {
  background-color: #e30613;
  color: #fff;
}

.forest {
  background-color: #fff;
  color: #e53233;
}