
:root {
  --blue: rgb(28, 44, 91);
  --green: rgb(32, 100, 60);
  --bkgrey: #555;
  --gtable: rgba(50, 153, 91, .3);
  --gold: #ccaa39;
  --silver: #B0B8C0;
  --bronze: #8C5A2C;
  --tpblue: rgb(28, 44, 91, 0.9);
}

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

/* html, body {
  width: 100%;
} */

#loginContainer {
  display: flex;
  flex-direction: column;
  gap: 1em;
  border: 1px solid white;
  width: 80%;
  padding: 1em;
  margin: 7.5em auto;
  border-radius: 10px;
  background-color: var(--green);
  box-shadow: 0 4px 6px var(--green);
  max-height: 800px;
  max-width: 426px;
}

#loginContainer input {
  text-align: center;
}


#contentContainer {
  flex: 1;
  width: 100%;
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4.3rem .5rem;
  overflow-y: auto;
  margin: 0 auto;
  border: 1px solid white;
  gap: 0.5em;
}

#titleContainer {
  display: flex;
  justify-content: space-between;
  gap: 0.5em;
  width: 100%;
  margin-top: 0.5em;
}

#viewTitle {
  flex: 1;
  border: 3px solid white;
  border-radius: 4px;
  text-align: center;
  /* margin: 0 auto; */
  width: fit-content;
  max-height: 2em;
  padding: 0.1em 1em;
  font-size: 1.1rem;
  background-color: var(--tpblue);
  color: white;
}

#viewTitleBoards {
  display: flex;
  flex: 1;
  justify-content: space-around;
  border: 3px solid white;
  border-radius: 4px;
  width: fit-content;
  color: white;
  background-color: var(--tpblue);
  gap: 0.5em;
  padding: 0.1em 0.5em;
  font-size: 1.1em;
}

/* WeekNav */

#weekNav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .25em;
  margin: 0.125em 0;
  width: 98%;
  max-height: 3vh;
  color: white;    
}

#weekNavBoard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: .25em;
  margin-bottom: 0.25em;
  width: 98%;
  max-height: 3vh;
  color: white;    
}

.nav-arrow {
  width: 19%;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: inherit;  
}

#gwDisplay {
  width: 60%;   
  text-align: center;  
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;  
}

#gwDisplayBoards {
  width: 60%;   
  text-align: center;  
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;  
}

#gwDisplay, #gwDisplayBoards, .nav-arrow{
  height: 1.75em;
  padding: 0.25em;
  line-height: 1.2em;
  font-size: 1em;
  background-color: #1c2c5b;
}

.arrow-icon {
  width: 100%;
  height: 100%;
}

#prevWeek {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 0;
}

#nextWeek {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 0;
}

#lensSelect {
  background-color: var(--blue);
  border: none;
  color: white;
  text-align: center;
  font-size: 0.9em;
}

#subjectSelectSVG {
  background-color: white;
  color: var(--blue);
  padding: 0;
  margin: 0;
}

.selectSVG {
  display: block;
  height: 2em;
  width: 2em;
  color: black;
}



/* FixtureFieldset */
#fixtures {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow-y: scroll;
  gap: 0.3em;
  width: 100%;
  margin: 0 0.5em;
  /* outline: 1px solid white; */
  /* padding: 0.5em 0.25em;  */
}

/* .match {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr .3fr 1fr 2fr;
  grid-template-rows: 1fr 1fr;
  border: none; 
  padding: 0;   
} */

.fixturesCard {
  border: 2px solid white;
  border-radius: 5px;
  padding: 0;
  padding-bottom: 0.1rem;
  background-image: linear-gradient(to top, #1c2c5b, #203c6a, #264c78, #2f5d86, #3a6e93, #3a6e93, #3a6e93, #3a6e93, #2f5d86, #264c78, #203c6a, #1c2c5b);
}

.fixturesCardHeader {
  position: relative;
  padding: 0.1em 1em;
  background-color: white;
}

.fcHeaderCenter {
  display: flex;
  justify-content: center;
  gap: 0.5em;  
}

.fixtureStatus {
  position: absolute;
  left: 80%;
  top: 40%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  gap: 0.4em;
  font-size: 0.75rem;
  font-weight: 600;
}

.fixtureStatus .dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}
.fixtureStatus.green { color: green;}
.fixtureStatus.amber { color: orange;}
.fixtureStatus.red { color: blue;}

.fixtureStatus.green .dot { background: green;}
.fixtureStatus.amber .dot { background: orange;}
.fixtureStatus.red .dot { background: blue;}

.match {
  display: grid;
  grid-template-columns: 2fr 1fr .3fr 1fr 2fr;
  padding: 0.2em;
  border: none;
  cursor: pointer;
}

.match div {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid white; */
}

.match div input {
  height: 90%; 
  width: 90%;   
}

.homeScore, .awayScore {
  background: white;
  color: black;
  height: 90%;
  width: 70%;
  margin: auto auto;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: bold;
}

/* Chrome, Safari, Edge, Opera- no spinner*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox - no spinner*/ 
input[type=number] {
  -moz-appearance: textfield;
}

/* .day {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
}

.ko {
  grid-column: 1 / 1;
  grid-row: 2 / 3;
} */

.day, .ko {
  color: var(--blue);
  font-size: 0.8rem;
  font-weight: bold;
  background-color: white;
  line-height: 0.8rem;
  padding-bottom: 0.15em;

}


.home {
  grid-column: 1 / 2;
}

.homePred, .homeScore {
  grid-column: 2 / 3;
  margin-left: 0.5em;
}

.v {
  grid-column: 3 / 4;
  font-weight: bold;
  color: white;
    
}

.awayPred, .awayScore {
  grid-column: 4 / 5;
  margin-right: 0.5em;
}

.away {
  grid-column: 5 / 6;
}

.team {
  padding: 4px;
  text-align: center;
  border-radius: 5px;
  font-weight: bold;
}

.pred {
  border-radius: 5px;
  font-size: 1.2rem;
  text-align: center;
  font-weight: bold;
}

/* Toggled Content - Predict/Review view */
/* Scoring Breakdown */
.predictPreviewsContainer {
  max-height: 10rem;
  padding: 0.2em 0.3em;
  margin: 0 0.3em 0.1em 0.3em;
  overflow-y: scroll;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  column-gap: 0.8rem; 
}

.clubPreviews {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  border-radius: 5px;
  outline: 1px solid white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0.2rem;
  gap: 0.25em;
  background-color: #777;
}

.previewInsights {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  outline: 1px solid red;
}

.clubPreview {
  border-radius: 9999px;
  padding: 0.2rem .8rem .25rem .8rem;
  margin: 0.1rem 0.1rem;
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.1rem;
  font-weight: bold;
  font-size: 0.85rem;
  line-height: 1;
}

.clubPreview .previewName,
.clubPreview .previewPrediction {
  margin: 0;
  padding: 0;
}



.scoringBreakdownContainer {
  max-height: 10rem;
  padding: 0.3rem 0.3rem 0 0.3rem;
  margin: 0.1rem 0.3rem 0.2rem 0.3rem;
  border-radius: 5px;
  overflow-y: scroll;
  outline: 1px solid white;
  background-color: rgb(255, 255, 255, 0.1);
}

.breakdownRow {
  display: grid;
  grid-template-columns: 1.2fr 1fr repeat(6, 0.4fr);
  grid-template-rows: 1fr;
  margin: 0.2em;
  text-align: center;
  /* outline: 1px solid red; */
}

.scoringBreakdownHeader {
  background-color: rgb(255, 255, 255, 0.1);
  margin-bottom: -0.2rem;
  padding-bottom: 0.15rem;
}

.breakdownName {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.breakdownPred {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.breakdownResults {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

.breakdownGd {
  grid-column: 4 / 5;
  grid-row: 1 / 2;
}

.breakdownHome {
  grid-column: 5 / 6;
  grid-row: 1 / 2;
}

.breakdownAway {
  grid-column: 6 / 7;
  grid-row: 1 / 2;
}

.breakdownGoals {
  grid-column: 7 / 8;
  grid-row: 1 / 2;
}

.breakdownPoints {
  grid-column: 8 / 9;
  grid-row: 1 / 2;
}





/* LeaderBoards */

#boardContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  overflow-y: hidden;
  /* padding: 0.5em 0; */
}

.boardAlign {
  display: grid;
  grid-template-columns: 0.8fr 26% 1fr repeat(5, 0.9fr) 1fr;
  padding: 0;
  margin: 0;
  gap: 0.25em;
  width: 100%;
}

.boardHead {    
  line-height: 1.8;
  font-size: .9rem;
  margin-bottom: 0.5em;
  font-weight: bold;
}

.boardHead div {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.911);
  padding: 0 0.125em;
  color: var(--blue);
  border-radius: 3px;  
  border: 1px solid white;
  box-shadow: 0 1px 1px var(--bkgrey);
}

#nameTag {
  font-size: 1.1em;
}

#boardData {
  overflow-y: auto;
}

.boardRow {
  line-height: 1.6;
  font-size: 0.9rem;
  text-align: center;
  border: none;
  color: white;
  border-radius: 3px;
  margin-bottom: 0.3em;

}

.boardRow div {
  border-radius: 3px;
  padding: 0 0.125em;
  border: 1px solid white;
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
}

.hasP10s, .points {
  background-color: var(--gold) !important;
  color: var(--blue);
  font-weight: bold;
}

#boardData fieldset:nth-child(odd) div {
  background-color: rgba(28, 44, 91, 0.6);
}

#boardData fieldset:nth-child(even) div {
  background-color: var(--green);

}

.first {
  line-height: 2 !important;
  font-size: 1rem !important;
  font-weight: bold;    
}

.first div {
  background-color: var(--gold) !important;
  color: var(--blue) !important;
}

.second {
  line-height: 1.8 !important;
  font-weight: bold;
}

.second .pos {
  background-color: var(--silver) !important;
  color: var(--blue);
}

.third {
  line-height: 1.7 !important;
  font-weight: bold;
}

.third .pos {
  background-color: var(--bronze) !important;
  color: var(--blue);
}

/* Team Modal */

/* #teamModalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
} */

/* #teamModalWrapper {
  background: white;
  color: black;
  padding: 1em;
  border-radius: 8px;
  width: 90%;
  max-width: 400px;
  position: relative;
} */

#teamModal {
  position: absolute;  
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 428px;
  max-height: 80%;
  overflow-y: auto;
  border-radius: 10px; 
  background-color: var(--tpblue);
  border: 3px solid white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  z-index: 50;
  /* background: rgb(153, 153, 153, 0.8); */
}

#modalOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 40;
}

#teamModalCard {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  width: 96%;
  color: white;
  /* outline: 1px solid white; */
  margin: 0.5em auto;
}

.modalCardBody {
  background-color: var(--blue);
  width: 100%;
  height: 90%;
  text-align: center;
  display: flex;
  flex-direction: column; 
  align-items: center;  
  overflow-y: scroll;
}

.modalSection {
  width: 96%;
  background-color: var(--tpblue-dark);
  border-radius: 0.75em;
  padding: 0.5em 0; 
  margin: 0.5em 0;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  transition: transform 0.2s, box-shadow 0.2s;
}


.modalSection:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0,0,0,0.3);
}

#modalHeader {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 95%;    
}

.p10ModalLogo {
  height: 4em;
  width: 4em;
}

#teamModalClose {
  border-radius: 50%;
  border: none;
  padding: 0;
  height: 2em;
  width: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1;
  background-color: var(--green);
  color: var(--blue);
  cursor: pointer;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
  transition: background 0.2s, transform 0.2s, box-shadow 0.2s;
}

#teamModalClose:hover {
  background-color: rgb(11, 87, 105);
  color: white;
  transform: translateY(-1px);
  box-shadow: 0 4px 8px rgba(0,0,0,0.4);
}

#modalImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;   
  padding: 0.5em; 
}

.modalImg {
  width: 100%;
  max-width: 20em;
  height: 12em;
  object-fit: contain;
  object-position: center;
  display: block;  
}

#modalTitle {
  font-size: 1.5em;   
  margin-top: -.5em;
  margin-bottom: 0; 
}

#modalContact {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
}

#modalWeb, #modalEmail {
  color: var(--green);
  cursor: pointer;
}

#modalAddress {
  display: flex;
  flex-direction: column;
}

#modalTimes {
  display: flex;
  justify-content: center;
  border-bottom: none;
}

#openingTimesTable {
  border-collapse: separate;
  border-spacing: 1em 0.25em;
  margin-bottom: 1em;
}

/* Colours */


/* Team Colours */

.liverpool {
  background-color: #dd0000;
  color: #fff;
}

.bournemouth {
  background-color: #ed1c24;
  color: black;
  /* font-size: 0.8rem; */
    
}

.astonvilla {
  background-color: #95bfe5;
  color: #670e36;
}

.arsenal {
  background-color: #ef0107;
  color: #fff;
}

.brighton {
  background-color: #005daa;
  color: #fff;
}

.burnley {
background-color: #800000;
color: #80bfff;
}

.chelsea {
  background-color: #034694;
  color: #d1d3d4;
}

.crystalpalace {
  background-color: #1b458f;
  color: #fff;
  text-shadow: 
    -.5px -.5px 0 #c4122e,
    .5px -.5px 0 #c4122e,
    -.5px .5px 0 #c4122e,
    .5px .5px 0 #c4122e;
}

.everton {
  background-color: #274488;
  color: #fff;
}

.mancity {
  background-color: #6cabdd;
  color: #1c2c5b;
}

.manunited {
  background-color: #da291c;
  color: #fbe122;
}

.newcastle {
  background-color: #241f20;
  color: #fff;
}

.leeds {
  background-color: #ffcd00;
  color: #1d428a;
}

.fulham {
  background-color: #000;
  color: #cc0000;
}

.tottenham {
  background-color: #fff;
  color: #132257;
}

.westham {
  background-color: #7c2c3b;
  color: #7bcce6;
}

.sunderland {
  background-color: #eb1726;
  color: #211e1e;
}

.wolverhamptonwanderers {
  background-color: #fdb913;
  color: #231f20;
}

.brentford {
  background-color: #e30613;
  color: #fff;
}

.nottinghamforest {
  background-color: #fff;
  color: #e53233;
}