:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #e90f0fe1; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --blue: rgb(28, 44, 91);
  --green: rgb(32, 100, 60);
  --bkgrey: #555;
  --gtable: rgba(50, 153, 91, .3);
  --gold: #ccaa39;
  --silver: #B0B8C0;
  --bronze: #8C5A2C;
  --tpblue: rgb(28, 44, 91, 0.9);
}

*, *::before, *::after {
  box-sizing: border-box;
}


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  /* display: flex; */
  /* min-width: 320px;
  min-height: 100vh; */
  background-color: rgb(28, 44, 91, 0.9);
}

#appWindow {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: #111; */
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}

#appContainer {
  position: relative;
  width: 428px;
  height: 926px;
  /* background-color: var(--tpblue); */
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 8px solid #000;
  border-radius: 20px;
  box-shadow: 0 0 20px (rgba(223, 221, 221, 1));
}

@media (max-width: 428px) {
  #appContainer {
    width: 100%;
    height: 100vh;
    border: none;
    border-radius: 0;
    box-shadow: none;
  }
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Project CSS */
#headerProfile {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  background-color: green;
  box-shadow: 0 1px 3px rgba(0,0,0,1);
  z-index: 50;
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 1fr;
}

#playerCard {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr;
  column-gap: 0.25em;
  padding: 0.25em;
}

#playerImg {
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0,0,0,1);
  border: 4px solid white;
  max-height: 3.5rem;
  cursor: pointer;
}

#playerCardText {
  border: 4px solid white;
  line-height: 0.5rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr 1fr;
  max-height: 3.5rem;
  padding: 0.25em;
  box-shadow: 0 1px 2px rgba(0,0,0,1);
  border-radius: 4px;
  background-color: var(--green);
}

#playerCardName {
  text-align: start;
  font-size: 1.3rem;
}

#playerCardRanking, #playerCardScore {
  font-size: 0.8rem;
  text-align: end;
}

#appDropdown {
  padding: 0.25em;
  position: relative;
}

#refreshControl {
  padding: 0.25em;
  position: relative;
}

#dropdownToggle {
  display: flex; 
  align-items: center;
  gap: 0.5em; 
  height: 3.5rem;
  width: 100%;
  background-color: var(--blue);
  box-shadow: 0 1px 3px rgba(0,0,0,1);
  color: white;
  border: 4px solid white;
  border-radius: 4px;
  cursor: pointer;
}

#refreshButton {
  display: flex; 
  align-items: center;
  gap: 0.5em; 
  height: 3.5rem;
  width: 100%;
  background-color: var(--blue);
  box-shadow: 0 1px 3px rgba(0,0,0,1);
  color: white;
  border: 4px solid white;
  border-radius: 4px;
  cursor: pointer;
}

#lastUpdated {
  font-size: 0.8rem;
}

#appName {
  text-wrap: wrap;
  font-size: 0.9rem;
}

#appLogo {
  border-radius: 50%;
  align-self: center;
  margin: 0 auto;
}

.appLogo {
  border-radius: 50%;
  height: 25px;
  width: 25px;
}

#dropdownMenu {
  position: absolute;
  right: 0.25em;
  left: 0.25em;
  top: 100%;
  background-color: var(--blue);
  color: white;
  list-style: none;
  margin: 4px 0 0;
  padding: 0.25em;
  border: 4px solid white;
  border-radius: 4px;
}

#appDropdown.open #dropdownMenu {
  display: block;
}

#dropdownMenu li {
  display: flex;
  align-items: center;
  gap: 0.5em;
  cursor: pointer;
  margin: 0.125em 0;
  font-size: 0.9rem;
}

#dropdownMenu li:hover {
  background-color: rgba(255, 255, 255, 0.699);
  color: var(--blue);
  padding: 0.125em;
  font-size: 1rem;
}


#footerNav {
 position: absolute;
 bottom: 0;
 left: 0;
 width: 100%;
 background-color: darkgreen;
 /* border-top: 1px solid #e5e7eb; */
 box-shadow: 0 1px 3px rgba(0,0,0,1);
 z-index: 30;
 padding-bottom: env(safe-area-inset-bottom);
}

#navBarFooter {
 display: grid;
 grid-template-columns: repeat(5, 1fr);
 grid-template-rows: 1fr;
 column-gap: 0.25em;
 height: 4rem;
 font-size: 1rem;
 margin-left: 0.25em;
 margin-right: 0.25em;
 padding-top: 0.25em;
}

.footerItem {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 height: 3.5rem;
 background-color: green;
 padding: 0.2em;
 box-shadow: 0 1px 2px rgba(0,0,0,1);
 border-radius: 3px;
 color: white;
 cursor: pointer;
}

.footerDisabled {
  opacity: 0.4;
  pointer-events: none;
  cursor: not-allowed;
  filter: grayscale(80%);
}

.footerItem.footerFocal {
  color: var(--green) !important;
  background-color: white !important;
}

.footerCenter.footerFocal {
  color: var(--green) !important;
  background-color: white !important;
}

.footerCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 0.5em;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background-color: green;
  border: 1px solid black;
  color: white;
  font-weight: bold;
  box-shadow: 0 4px 4px rgba(0,0,0,0.2);
  position: relative;
  top: -1.1rem;
  z-index: 10;
  cursor: pointer;
}

.icon {
  height: 2.4rem;
  width: auto;
  display: block;
}

